<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-12">
            <search-component searchtype="Orders"></search-component>
            <br/>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#pendingorders">Pending Orders</a></li>
                <li><a data-toggle="tab" href="#orderhistory">Orders History</a></li>
                <li><a data-toggle="tab" href="#cancelorder">Cancelled Orders</a></li>
            </ul>
            <div class="tab-content">
                <div id="pendingorders" class="tab-pane fade in active">
                    <br/>
                    <p class="text-center">No Records available</p>
                </div>
                <div id="orderhistory" class="tab-pane fade">
                    <br/>
                    <p class="text-center">No Records available</p>
                </div>
                <div id="cancelorder" class="tab-pane fade">
                    <br/>
                    <p class="text-center">No Records available</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br/>
    </div>
</div>