
<modal #myModal [keyboard]="true" (onDismiss)="dismissed()">
    <modal-header [show-close]="true" style="padding:0px;">
        <h2 class="modal-title">Sign in</h2>
    </modal-header>
    <modal-body style="display: block;text-align: center;">
        <message></message>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
            <div>
				<p><a class="forgotPwd" >Forgot Password? </a>&nbsp;|
				New user?  <a class="forgotPwd" routerLink='/register' href="#" >Register </a></p>
			</div>
			<div class="preference">
				<input type="checkbox" value="1" name="signinpreference" class="signinpreference">
				<span>Keep me signed in   </span> 
			</div>
			<div class="clearfix"></div>
			<div>
				<input type="submit" value="Sign in "  class="btn btn-primary" [disabled]="IsLoading" id="SignINAjx" tabindex="7"> 
                <img *ngIf="IsLoading" src="" />
			</div>				
        </form>
    </modal-body>
</modal>